* {
    box-sizing: border-box;
}

header {
    height: 100% auto;
    width: 100% auto;
}

h1 {
    height: 70px;
    background-color: rgba(34, 49, 52, 0.9);
    color: white;
    text-align: center;
    padding-top: 10px;
}

.container {
    width: 100%;
    margin: 50px auto 0;
    float: center;
}


.add-style {
    margin-left: 10px;
    padding: 5px 15px;
    border: none;
    background-color: #00FF00;
    box-shadow: 0 5px #008800;
}

.add-style:active {
    box-shadow: none;
    position: relative;
    top: 5px;
}

/* .d-btn { */
    /* float: right; */
    /* color: #fff; */
    /* background-color: #0099FF; */
    /* box-shadow: 0 5px #006699; */
    /* padding: 8px 8px; */
    /* border: none; */
    /* font-weight: bold;  */
    /* border-radius: 100vh; */
/* } */

.d-btn:active {
    box-shadow: none;
    position: relative;
    top: 5px;
}

.done {
    text-decoration: line-through 3px solid #000;
}

input {
    border: 2px solid #808080;
    border-radius: 5px;
    height: 40px;
    width: 500px;
    box-sizing: border-box;
    padding-left: 10px;
}

.text-box {
    float: left;
}



.todos {
    width: 100%;
    margin: 0;
    padding: 0;

}

.list-item {
    list-style: none;
    font-size: 25px;

}



.donebutton-style {
    background-color: transparent;
    font-weight: bold;
    border: none;
    outline: none;
    color: #005FFF;
    margin-left: 100px;
}

.donebutton-style:hover {
    color: #75A9FF;
}

.endbutton-style {
    background-color: transparent;
    font-weight: bold;
    border: none;
    outline: none;
    color: #FF0461;
    margin-left: 5px;
}

.endbutton-style:hover {
    color: #FF82B2;
}

@media(max-width: 670px) {
    header {
        width: 100%;
    }
    .container {
        width: 100%;
    }

}


